<!-- Search bar -->
<div class="md-form mt-0" style="width: 20%;">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<!-- Table -->
<div class="table-container">
    <table class="table border table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Resource</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row modal-xl" *ngFor="let tableRow of table" (click)="openModal(tableRow)">
                <th scope="row">{{ tableRow.id}}</th>
                <td>{{ tableRow.dateFrom }}</td>
                <td>{{ tableRow.dateTo }}</td>
                <td>{{ tableRow.resource }}</td>
            </tr>
        </tbody>
    </table>
</div>

