<nav class="navbar navbar-light bg-light" style="display: block; height: 60px;">
    <div class="float-left">
        <div class="row ml-1">
            <a class="navbar-brand" [routerLink]="['/']">KitchenRP</a>

            <!-- sidebar collapse -->
            <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/reservations']">My Reservations</a>
                </li>

                <!-- TODO: router guards -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/all-reservations']">All Reservations</a>
                </li>

                <!-- TODO: router guards -->
                <li class="nav-item">
                    <a class="nav-link admin-link" [routerLink]="['/admin']">Admin</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-right">
        <app-account></app-account>
    </div>
</nav>
