﻿<nav class="navbar">
    <div class="row">
        <a class="navbar-brand" [routerLink]="['/']">KitchenRP</a>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/reservations']">My Reservations</a>
            </li>

            <!-- TODO: router guards -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">All Reservations</a>
            </li>

            <!-- TODO: router guards -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Admin</a>
            </li>
        </ul>
    </div>
</nav>
