<nav id="navbar" class="navbar navbar-light bg-light pr-0 pl-0" style="display: block; height: 60px;">

        <div class="float-left col-12">
            <div class="row ml-1 nav-content">
                <div class="col-sm-12 col-md-3 col-lg-3 pr-0">
                    <a class="navbar-brand" [routerLink]="['/']">KitchenRP</a>

                    <!-- sidebar collapse -->
                    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-10 align-self-center">
                <ul class="nav nav-tabs flex-row nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/calendar']">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/reservations']">My Reservations</a>
                    </li>

                    <div class="restricted-tabs" *ngIf="currentUser | async as user">
                        <li class="nav-item" *ngIf="user.role === 'moderator' || user.role === 'admin'">
                            <a class="nav-link" [routerLink]="['/all-reservations']">All Reservations</a>
                        </li>
                        <li class="nav-item" *ngIf="user.role === 'admin'">
                            <a class="nav-link admin-link" [routerLink]="['/admin']">Admin</a>
                        </li>
                    </div>

                    <li class="nav-item">
                        <div class="">
                            <app-account></app-account>
                        </div>
                    </li>

                </ul>
                </div>
            </div>
        </div>

</nav>
