<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reservation Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="reservation-form">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputUser">User</label>
                    <input type="text" class="form-control" id="inputUser" [value]="userName" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputResource">Resource</label>
                    <input type="text" class="form-control" id="inputResource" [value]="resourceName" readonly>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputDate">Start date</label>
                    <div class="input-group date" id="datePicker">
                        <input type="text" class="form-control" id="inputDate" [(ngModel)]="dateField" placeholder="yyyy-mm-dd"
                               name="dateField" ngbDatepicker #d="ngbDatepicker" [readOnly]="!Add">
                        <span class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button" [disabled]="!Add">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                          </button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" id="status" name="status" [value]="status" readonly
                           [ngClass]="{'status-pending': status === 'PENDING', 'status-approved': status === 'APPROVED', 'status-denied': status === 'DENIED'}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputStartTime">Start time</label>
                    <ngb-timepicker name="start-time-picker" id="inputStartTime" [(ngModel)]="timeStart"
                                    [hourStep]="hourStep" [minuteStep]="minuteStep" [readonlyInputs]="!Add"></ngb-timepicker>
                </div>
                <div class="form-group col-md-6">
                    <label for="duration-picker">Duration (min)</label>
                    <input type="number" class="form-control" id="duration-picker" name="duration-picker"
                           [(ngModel)]="duration.minute" [readonly]="!Add">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="buttons-left mr-auto">
            <button *ngIf="!Add && isLoggedInUser" type="button" class="btn btn-danger mr-2" (click)="delete()">Delete</button>
            <button *ngIf="!Add && isModOrAdmin" type="button" class="btn btn-warning mr-2" (click)="deny()">Deny Res.</button>
            <button *ngIf="!Add && isModOrAdmin" type="button" class="btn btn-info mr-2" (click)="accept()">Accept Res.</button>
        </div>
        <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
        <button *ngIf="Add" type="button" class="btn btn-primary" (click)="saveReservation()">Save changes</button>
    </div>
</div>
