<div class="table-container">
    <!-- Search bar -->
    <form>
        <div class="form-group form-inline list-control-header">
            <label><b>Search:</b></label>
            <input class="form-control ml-2" type="text" [formControl]="filter" />
        </div>
    </form>

    <!-- Table -->
    <table class="table border table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">User</th>
                <th scope="col">Resource</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row modal-xl" *ngFor="let reservation of reservations$ | async; index as i" (click)="openModal(reservation)">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ timestampToReadable(reservation.startTime) }}</td>
                <td>{{ timestampToReadable(reservation.endTime) }}</td>
                <td>{{ reservation.owner ? reservation.owner.sub : ""}}</td>
                <td>{{ reservation.reservedResource ? reservation.reservedResource.displayName : "" }}</td>
                <td>{{ reservation.status }}</td>
            </tr>
        </tbody>
    </table>
</div>
