<div class="table-container">
    <!-- Search bar -->
    <form>
        <div class="form-group form-inline list-control-header">
            <label><b>Search:</b></label>
            <input class="form-control ml-2" type="text" [formControl]="filter" />
            <button class="btn btn-outline-primary" style="margin-left: auto; display: block;" (click)="openModalAdd()">Add Reservation</button>
        </div>
    </form>

    <!-- Table -->
    <table class="table border table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <!--<th scope="col">Date</th>-->
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <!--<th scope="col">Duration (h)</th>-->
                <th scope="col">Resource</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row modal-xl" *ngFor="let reservation of reservations$ | async; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ reservation.startTime }}</td>
                <td>{{ reservation.endTime }}</td>
                <td>{{ reservation.resourceId }}</td>
                <td>{{ reservation.status }}</td>
            </tr>
        </tbody>
    </table>
</div>
