<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Resource Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="inputId">Id</label>
                <input type="text" class="form-control" id="inputId" [value]="Data.id">
            </div>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" [value]="Data.name">
            </div>
            <div class="form-group">
                <label for="inputType">Type</label>
                <input type="text" class="form-control" id="inputType" [value]="Data.type">
            </div>
            <div class="form-group">
                <label for="inputMeta">Meta</label>
                <input type="text" class="form-control" id="inputMeta" [value]="Data.meta">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <input type="text" class="form-control" id="inputDescription" [value]="Data.description">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>
