<div>
    <h4>{{resource.displayName | titlecase }}</h4>
    <div class="resource-info-container">
        <span class="border resource-info">{{resource.resourceType.displayName | titlecase }}<span class="tooltiptext">Device type</span></span>
        <span class="border resource-info">{{resource.metaData.material || "unkown material"}}<span class="tooltiptext">Available material</span></span>
        <span class="border resource-info">{{resource.metaData.printarea || "unkown material"}}<span class="tooltiptext">Printing-area size</span></span>
    </div>
</div>
