<div class="login-container">
    <form #loginForm="ngForm">
        <div class="container">
            <h3 class="text-center">KitchenRP</h3>
        </div>
        <div class="container">
            <div class="form-group">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="username" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" [(ngModel)]="password" required>
            </div>
            <div class="alert alert-danger show" *ngIf="invalidLogin">
                <strong>ERROR:</strong> Invalid username or password.
            </div>
            <div class="form-group btn-wrapper">
                <button class="btn btn btn-primary" type="button" (click)="this.loginUser()">Login</button>
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                        ngbPopover="Use your student credentials to log in. A User must be enabled by the ProjectKitchen admins.To contact them write to '@'"
                        popoverTitle="Login help">
                    Unable to log in?
                </button>
            </div>
        </div>
        <div class="login-info collapse" id="login-info">
            <div class="card card-body">
                Use your student credentials to log in.
                A User must be enabled by the ProjectKitchen admins. To contact them write to '@'
            </div>
        </div>
    </form>
</div>
