<div class="m-1">
    <button type="button" class="btn btn-outline-primary" (click)="toggle()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="acc">
        Account
    </button>
    <div id="acc" [ngbCollapse]="!isCollapsed">
        <div class="card mt-2">
            <div class="card-body">
                <div class="border-bottom mb-2">
                    Account Details:
                </div>
                <div *ngIf="currentUser | async as user">
                    <div>
                        Name: {{user.sub}}
                    </div>
                    <div>
                        Email: {{user.email}}
                    </div>
                    <div>
                        Role: {{user.role}}
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="logoutUser()" style="width: 50%; margin-left: 25%; margin-right: 25%;">
                Logout
            </button>
        </div>
    </div>
</div>
